.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

/* Color Theme Swatches in Hex */
.hiperion-Technologies-1-hex {
  color: #152840;
}

.hiperion-Technologies-2-hex {
  color: #516073;
}

.hiperion-Technologies-3-hex {
  color: #0DB3D9;
}

.hiperion-Technologies-4-hex {
  color: #80DDF2;
}

.hiperion-Technologies-5-hex {
  color: #F2F2F2;
}

